# Build folders
build/
dist/

# Sample folders
*/sample*/
sample*/

# macOS system file
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Compressed files
*.zip
*.jpg
*.txt
*.exe
*.pkg
*.html
*.toc
*.aep
*.log
*.spec
*.ico
*.log
*.spec

=======

# PyCharm project config
.idea/

# recent history file
UnzipRefactored/recent
recent